<.live_component
  module={FlWeb.TotalExpenseLive.FormComponent}
  id={@total_expense.id || :new}
  title={@page_title}
  action={@live_action}
  total_expense={@total_expense}
  timezone={@timezone}
  return_to={Routes.page_index_path(@socket, :index)}
/>
  